<h1>Album's tracks</h1>
{{#each tracks}}
    <ul>
        <li>{{this.name}}</li>
        <br>
        <audio controls>
            <source src="this.preview_url" type="audio/mpeg">
        </audio>
    </ul>
{{/each}} 